* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    
    text-align: center;
    background-color: #201C1C;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
  }

  header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image/fundo.jpg');
    width: 100%;
    min-height: 831px;
    background-position-y: center;
    position: relative;
  }

  header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo-pipoca {
    display: flex;
    justify-content: space-around;

  }

  nav {
    max-width: 1600px;
    min-width: 300px;
    width: 100%;
    height: 222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

  }

  nav > ul {
    display: flex;
    gap: 10px;
  }

  h1 {
    font-size: 96px;
    position: absolute;
    text-align: left;
    left: 0;
    font-weight: 900px;
    top: 0;
    color: #FECF5D;
    backdrop-filter: blur(2px);
    background-color: rgba(11, 9, 9, 0.159);
    border-radius: 90px;
    padding: 20px;
    margin: 250px;
  }

  h2 {
    text-align: left;
    font-size: 32px;
    position: absolute;
    display: flex;
    left: 280px;
    top: 520px;
    
  }

